.#{$namespace}{

  &-#{$class-popover}{
    
    position: absolute;
    max-width: calc(100vw - 32px);
    max-height: calc(100vh - 32px);

    &-container{
      background-color: #fff;
      position: relative;
    }
  }

}